<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbox</title>

    <!-- Stylesheet Links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="../styles/popup.css">

</head>

<body>
    <div class="centering-container">
        <div class="extension-container">
            <!--Upper Content-->
            <div class="upper-content-container">
                <div class="title-logo-container">
                    <div class="logo">
                        <img src="../styles/CInsight-whitebackground-logo-500.png" height="40px" width="40px">
                    </div>
                    <div class="title">
                        <h1>ClassInsight</h1>
                    </div>
                </div>
                <div class="other-actions-container">
                    <button class="btnInfo" id="infoBtn">
                        <i class="fa fa-info-circle"></i>
                    </button>
                    <button class="btnExport" id="exportBtn">
                        <i class="fa fa-file-word-o"></i>
                    </button>
                    <button class="btnReset" id="resetBtn">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>

            <!--Divider-->
            <hr style="width: 100%; margin-bottom: 12px;">

            <!--Main Content-->
            <div class="main-content-container">
                <div class="need-transcribe url-container">
                    <!-- <input type="text" class="url-input"> -->
                    <div class="missing-transcript-msg" id="missing-transcript-msg">
                        No Transcript Found! Will you like to Transcribe the video?
                    </div>
                    <button id="transcribeBtn" class="btn-transcribe" title="Transcribe">
                        Transcribe <i class="fa fa-language"></i>
                    </button>
                </div>

                <div class="loading" id="loading">
                    <div class="loading-icon">
                        <div class="lds-facebook">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="loading-message" id="loading-message">
                        Loading in Greatness...
                    </div>
                </div>

                <div class="success" id="success">
                    <div class="success-icon">
                        <i class="fa fa-check-circle"></i>
                    </div>
                    <div class="success-message" id="success-message">
                        Successfully Transcribed the audio!
                    </div>
                </div>

                <div class="no-transcribe chatbox-container">
                    <div class="conversation-container" id="conversation-container">
                    </div>
                    <div class="prompt-container">
                        <textarea type="text" class="prompt-input" id="userInput"></textarea>
                        <button id="sendBtn" class="btn-send">
                            <i class="fa fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>